<article id="doc-cover">
    <div class="wrapper" >
    {% if cover_logo is defined %}
        <div class="logo" style="background-image: url({{ cover_logo | to_url }});"></div>
    {% endif %}
        <p class="subtitle">Travail de diplôme</p>
        <h1>{{ cover_title | e }}</h1>
        <h2>{{ cover_subtitle | e }}</h2>
    </div>
    <div class="properties">
        <address>
            <div class="cfpt" style="background-image: url({{ 'img/logo.png' | to_url }});"></div>
            {% if author is defined %}
                <p id="author">{{ author | e }}</p>
            {% endif %}
            {% if copyright is defined %}
                <p id="copyright">{{ copyright | e }}</p>
            {% endif %}
        </address>
    </div>
</article>